/*titulo das tabs*/
span.css-10trblm.e16nr0p30{
    text-align: center;

}

/*tabela inicial*/

div.css-1a32fsj.e19lei0e0{
    text-align: center;

}

/*distanciar opcoes na tab*/
div.st-be.st-b3.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bn{

    gap: 6rem;
}

/*Arredondar imagem dos valores na tabala lateral*/
div.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak.st-ba.st-am.st-bb.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-bc.st-au.st-av.st-aw.st-ax.st-ay.st-b9.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5{
    border-radius: 50px;

}


